{% if ERROR %}
{{ERROR}}
{% else %}
# CVE INFORMATION
"""
{{CVE_KNOWLEDGE}}
"""

# VULNERABLE SOFTWARE INFORMATION
{{PROJECT_OVERVIEW}}

## DIRECTORY TREE (Only of the directories)
"""
{{PROJECT_DIR_TREE}}
"""

## IMPORTANT FILES
"""
{{PROJECT_FILES}}
"""

## REQUIRED SERVICES
"""
{{PROJECT_SERVICES}}
"""

## EXPECTED PROJECT BUILD/SETUP
"""
{{PROJECT_OUTPUT}}
"""

{% if FEEDBACK %}
# WORK DONE IN PREVIOUS ATTEMPT (TRY NOT TO REPEAT WHAT YOU HAVE ALREADY DONE)
"""
{{FEEDBACK}}
"""
{% endif %}
{% if CRITIC_FEEDBACK %}
# CRITIC FEEDBACK ON THE PREVIOUS ATTEMPT (TRY NOT TO REPEAT WHAT YOU HAVE ALREADY DONE - JUST FOCUS ON FIXING THE ISSUES)
"""
{{CRITIC_FEEDBACK}}
"""
{% endif %}
{% endif %}