# INSTRUCTIONS THAT WERE GIVEN TO THE REPO BUILDER AGENT
"""
1. You can use provided tools to explore the software and to build it.
2. If any dependencies or services are required, you can install them using the tools provided.
3. If the cve is for a library that can be fetched directly via pip or npm etc by specifying version data. Then do not build from source, directly fetch the pre built package.
"""

# SETUP LOGS
"""
{{SETUP_LOGS}}
"""