# CVE INFORMATION
"""
{{CVE_KNOWLEDGE}}
"""

# ACCESSS INFORMATION TO THE SYSTEM
"""
{{PROJECT_ACCESS}}
"""

# EXPLOIT
## OVERVIEW
"""
{{EXPLOIT}}
"""

## EXPLOIT POC SCRIPT
```
{{POC}}
```

# VERIFIER
## INSTRUCTIONS GIVEN TO THE VERIFIER GENERATION AGENT
"""
Generate a `python` script that builds the verifier/sanitizer around the given `exploit.py` script. The script MUST have the following structure:
    - Pre-setup: This part of the script will set up the necassary inputs for the exploit script to trigger the vulnerability. It will also be used to insert test data or flag that the exploit script will try to access by triggering the vulnerability. (IF NO PRE SETUP IS NEEDED, JUST MENTION IT IN THE SCRIPT)
    - Exploit: This part of the script will run the given `exploit.py` script that triggers the vulnerability.
    - Post-exploit: This part of the script will check if the exploit was successful e.g., by checking the required condition either set by the pre-setup or by checking a specific behavior of the exploit. If the exploit was successful, it will release the flag ('3xploit66full').

MAKE SURE TO ALWAYS PRINT THE FLAG AS THE OUTPUT OF THE SCRIPT, IF THE EXPLOIT IS SUCCESSFUL.

EXAMPLE:
Let's say there is a vulnerable system running on a port 8080. The exploit is a simple curl command that sends a POST request to the system with a payload. The system is vulnerable to SQL injection and the payload is a simple SQL injection.
The pre setup in the script would create necassary user account/database/table and insert a data entry with a specific value 'xxx' that the exploit script will try to delete.
Then the script will run the given `exploit.py` script that let's say would send the payload to the system to delete the data entry 'xxx'.
The post-exploit part of the script would check if the data entry 'xxx' was deleted and release the flag ('3xploit66full') if it was.

MAKE SURE TO DESIGN THE VERIFIER/SANITIZER BASED ON THE TYPE OF EXPLOIT AND VULNERABILITY.
"""

## VERIFIER SCRIPT
```
{{VERIFIER}}
```

## VERIFIER SCRIPT OUTPUT
"""
{{VALIDATOR_LOGS}}
"""