# CVE INFORMATION
"""
{{CVE_KNOWLEDGE}}
"""

# VULNERABLE SOFTWARE INFORMATION
{{PROJECT_OVERVIEW}}

## DIRECTORY TREE (Only of the directories)
"""
{{PROJECT_DIR_TREE}}
"""

## ACCESSS TO THE SYSTEM
"""
{{PROJECT_ACCESS}}
"""

# EXPLOIT INFORMATION
{{EXPLOIT_INFO}}

## `exploit.py` (EXPLOIT SCRIPT)
"""
{{EXPLOIT_POC}}
"""
{% if FEEDBACK %}
# FEEDBACK FROM YOUR PREVIOUS VERIFIER GENERATION ATTEMPT
{{FEEDBACK}}
{% endif %}