# Task
{# Give the LLM its task #}
Follow the instructions very closely.

{# Tell it all the steps we will follow #}
We will do this in the following steps:
{% for step in plan.steps %}
{{ loop.index }}. {{ step.description }}
{%- endfor %}

---

{# Now show it all its previous steps and the results from each #}
{% if past_steps and past_steps|length > 0 %}
# Previous Task Results
{%- for s in past_steps %}
## Task {{ loop.index }}
{{ s.description }}
{{ s.final_context }}
{% endfor %}
{% endif %}