## Task

Start the web service using the setup information provided.

## Setup Information

{{ setup_result }}

## Requirements

1. Use `cleanup_and_start_service` to start the service
2. Make sure it's running on port {{ port | default(9600) }}
3. If it fails, diagnose and try to fix
